<!-- <h4 MatDialogTitle></h4>
<mat-dialog-content>
    {{data.message}}
</mat-dialog-content> -->
<!-- 

<h5 >An Error Occurred!</h5>
<mat-dialog-content>
    {{data.message}}
</mat-dialog-content>   
 -->

<mat-dialog-content class="bg-[var(--theme-card)] text-[var(--theme-text)]">
    <p class="text-[var(--theme-text)]">{{data.message}}</p>
</mat-dialog-content>
<mat-dialog-actions class="bg-[var(--theme-card)]">
    <button mat-button mat-dialog-close class="text-[var(--theme-text)] hover:bg-[var(--theme-hover)]">Ok</button>
</mat-dialog-actions>