@if(isLoading) {
<app-loader></app-loader>
} @else {
<section class="posts">
  <h2 class="info-text">Recent Posts</h2>
  <mat-card>

    @if(!expandAll && postList.length > 0){
    <button mat-button (click)="openAll()">Expand All</button>
    }
    @if(expandAll && postList.length > 0){
    <button mat-button *ngIf="expandAll" (click)="closeAll()">Collapse All</button>
    }
    @if(postList.length > 0) {
    <mat-accordion class='example-headers-align' multi>
      @for(post of postList;track $index ){
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6>
              {{post.title}}
            </h6>
          </mat-panel-title>
          @if(post.content){
          <mat-panel-description>
            <!-- {{post.desc}} -->
          </mat-panel-description>
          }
        </mat-expansion-panel-header>
        @if (post.imagePath) {
        <div class="post-image">
          <img [src]="post.imagePath" [alt]="post.title">
        </div>
        {{post.content}}
        }
        @if(isAuthenticated){
        <mat-action-row>
          <button mat-button color="primary"><a [routerLink]="['/edit', post.id]">Edit</a></button>
          <button mat-button color="warn" (click)="deletPost(post.id)">Delet</button>
        </mat-action-row>
        }
      </mat-expansion-panel>
      }
    </mat-accordion>

    <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page" (page)="onChangePage($event)">
    </mat-paginator>

    }
    @if(postList.length <= 0) { <p class='info-text mat-body'>No posts added yet!</p>
      }
  </mat-card>
</section>
}