<section class="posts">
  <!-- <div class="post">
    <h3>User Name</h3>
    <p>This is a sample post content.</p>
    <div class="actions">
      <button>Like</button>
      <button>Comment</button>
      <button>Share</button>
    </div>
  </div> -->

  <mat-card>
    <h4>User Name</h4>
    
    @if(expandAll && postList.length > 0){
    <button mat-button (click)="openAll()">Expand All</button>
    }
    @if(!expandAll && postList.length > 0){
    <button mat-button *ngIf="expandAll" (click)="closeAll()">Collapse All</button>
    }
    @if(postList.length > 0) {
    <mat-accordion class='example-headers-align' multi>
      @for(post of postList; track post.title ){
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{post.title}} </mat-panel-title>
          @if(post.content){
          <mat-panel-description>
            {{post.content}}
          </mat-panel-description>
          }
        </mat-expansion-panel-header>
        <div class='actions'>
          <button>Like</button>
          <button>Comment</button>
          <button>Share</button>
        </div>
      </mat-expansion-panel>
      }
    </mat-accordion>
    }
    @if(postList.length <= 0) {
    <p class='info-text mat-body'>No posts added yet!</p>
    }
  </mat-card>
</section>